@model Wing1.Models.Details
@{
    ViewData["Title"] = "作業詳細追加編集";
}

<style>
    .form-control{
        width: 200px;
    }
    span{
        margin-top:7px
    }
    .form1{
        margin-bottom: 10px;
    }
    .textarea1{
        resize: none;
        width: 600px;
        min-height: 25px;
        margin-left: 40px;
        overflow: hidden;
    }
    .grp1{
        margin-left: 40px;
    }
</style>
@ViewBag.date.ToString().Substring(0,4)年 @ViewBag.date.ToString().Substring(5,2)月
@ViewBag.date.ToString().Substring(8,2)日
<br><span style="color: #FF3300;">@ViewBag.message1</span>
<form asp-action="DetailEdit">

    <input type="hidden" asp-for="Userid"/>
    <input type="hidden" asp-for="Date"/>

<div id="form1" class="form1a">
    @if(@ViewBag.num == "1"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime1" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime1" class="form-control form1a"/>
        </div>
        <textarea asp-for="Content1" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>

    }else if(@ViewBag.num == "2"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime2" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime2" class="form-control form1a"/> 
        </div>
        <textarea asp-for="Content2" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>

    }else if(@ViewBag.num == "3"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime3" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime3" class="form-control form1a"/>
        </div>
        <textarea asp-for="Content3" class="textarea1"></textarea> 
        <input type="hidden" name="num" value="@ViewBag.num"/>    
    }else if(@ViewBag.num == "4"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime4" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime4" class="form-control form1a"/>
        </div>
        <textarea asp-for="Content4" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>
    }else if(@ViewBag.num == "5"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime5" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime5" class="form-control form1a"/> 
        </div>
        <textarea asp-for="Content5" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>
    }else if(@ViewBag.num == "6"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime6" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime6" class="form-control form1a"/> 
        </div>
        <textarea asp-for="Content6" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>
    }else if(@ViewBag.num == "7"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime7" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime7" class="form-control form1a"/> 
        </div>
        <textarea asp-for="Content7" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>
    }else if(@ViewBag.num == "8"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime8" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime8" class="form-control form1a"/> 
        </div>
        <textarea asp-for="Content8" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>
    }else if(@ViewBag.num == "9"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime9" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime9" class="form-control form1a"/> 
        </div>
        <textarea asp-for="Content9" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>
    }else if(@ViewBag.num == "10"){
        <div style="display: flex;" class="form1">
        <span>@ViewBag.num　：</span>
        <input asp-for="Starttime10" class="form-control form1a"/><span>～</span>
        <input asp-for="Endtime10" class="form-control form1a"/> 
        </div>
        <textarea asp-for="Content10" class="textarea1"></textarea>
        <input type="hidden" name="num" value="@ViewBag.num"/>
    }
    



</div>
<input type="submit" value="更新" class="btn btn-primary grp1" name="btn" />
</form>

<div id="div1" class="grp1">

<a href="Detail" style="text-decoration: none">戻る</a>

<script>
    @* テキストエリア用 *@
    window.addEventListener("DOMContentLoaded", () => {
    // textareaタグを全て取得
    const textareaEls = document.querySelectorAll(".textarea1");

    textareaEls.forEach((textareaEl) => {
        // デフォルト値としてスタイル属性を付与
        textareaEl.setAttribute("style", `height: ${textareaEl.scrollHeight}px;`);
        // inputイベントが発生するたびに関数呼び出し
        textareaEl.addEventListener("input", setTextareaHeight);
    });

    // textareaの高さを計算して指定する関数
    function setTextareaHeight() {
        this.style.height = "auto";
        this.style.height = `${this.scrollHeight}px`;
    }
    });
</script>